<nav>
  <app-logo></app-logo>

  <app-link-view *ngFor="let item of menuItems"
                 [item]="item"
                 class="nav-link"
                 [class.hidden]="(mediaService.streaming$ | async)"
  ></app-link-view>
  <app-link-view id="back-to-grid-view"
                 [class.hidden]="!(mediaService.focusedView$ | async)"
                 class="nav-link"
                 (click)="mediaService.requestBackToGridView()"
                 [item]="{ title: 'Back to Grid', evaIcon: 'grid-outline', link: '' }"
  ></app-link-view>
  <app-link-view id="leave-room-button"
                 [class.hidden]="!(mediaService.streaming$ | async)"
                 class="nav-link"
                 (click)="mediaService.requestDisconnect()"
                 [item]="{ title: 'Leave Room', evaIcon: 'log-out-outline', link: '' }"
  ></app-link-view>
</nav>
