:host {
  display: block;
  width: 100%;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  padding: 0.5em;
  margin-bottom: 32px;

  cursor: pointer;

  border-radius: 8px;
  border: 0;
  outline: none;

  color: white;
  background-color: #222;
  &:hover { background-color: rgba(2, 2, 2, 0.1); }

  nb-icon {
    font-size: 40px;
    &.rotated { transform: rotate(180deg); }
  }
}
