.container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  position: relative;

  padding: 1rem;
  overflow: hidden;
  &.include-chat { padding: 1rem calc(var(--chat-container-width) + 1rem) 1rem 1rem; }

  .chat-container {
    transition: .4s ease-in-out;

    &.hidden-chat {
      right: -360px; // var(--chat-container-width)
      transition: .4s ease-in-out;
    }

    .hide-chat-btn {
      position: absolute;
      top: 8px;
      left: -15px;

      width: 30px; height: 30px;

      display: flex;
      justify-content: center;
      align-items: center;

      background-color: #ebebeb;
    }

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: var(--chat-container-width);
    max-width: var(--chat-container-width);
    min-width: var(--chat-container-width);

    background-color: #e6e6e6;
    border-radius: 8px;

    .room-id-panel {
      padding: 1rem;
      background-color: #e6e6e6;

      display: flex;
      flex-direction: column;
      align-items: center;


      .label {
        font-size: 18px;
        margin: 0 auto 1rem;
      }

      input {
        font-weight: 600;
        color: #333;
        width: 330px;
      }

      button {
        margin: .5rem 0;
        width: 100%;

        &.btn-disabled { color: #50a5f1; background-color: #F2F2F2; }
      }
    }

    .chat {
      &::before {
        content: 'Chat';
        text-align: center;
        margin-bottom: -16px;
        font-style: italic;
        font-size: 14px;
      }
      display: flex;
      flex-direction: column;

      margin-top: 16px;
      // Screen height - height(Room ID Panel)
      height: calc(100vh - 170px - 16px);

      .messages-box {
        padding: 1rem .6rem 1rem 0;
        margin: 1rem;
        list-style-type: none;

        border-top: 1px solid #bbb;
        background-color: transparent;

        overflow-y: auto;
        &::-webkit-scrollbar { width: .4rem; background-color: white; }
        &::-webkit-scrollbar-thumb {
          width: .3rem;
          background-color: #5f5f5f;
          border-radius: 8px;
        }

        display: flex;
        flex-direction: column;

        .message {
          position: relative;
          display: flex;
          flex-direction: column;

          background-color: #5f5f5f;
          color: white;

          border-radius: .5rem;
          max-width: 85%;
          min-width: 40%;
          padding: .35rem 1rem 1.25rem .75rem;

          margin-top: 1rem;
          &:first-child { margin-top: 0; }

          &.to {
            background-color: #50a5f1;
            align-self: flex-end;
          }

          .message-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .name-tag {
              font-weight: 600;
            }

            .message-type-tag {
              font-weight: 400;
              font-size: 11px;
              font-style: italic;
            }
          }

          .message-body {
            font-size: 14px;
          }

          .timestamp {
            position: absolute;
            bottom: 0;
            left: .75rem;
            font-size: 10px;
            font-style: italic;
          }
        }
      }

      .typing-box {
        padding: 0 1rem 1rem;

        display: flex;
        align-items: center;

        margin-top: auto;

        input { flex-grow: 1; }
        button {
          margin-left: 1rem;
          border-radius: .5rem;
        }
      }
    }
  }

  .room-container {
    width: 100%;
    height: 100%;

    padding-right: 8px;
    // 100% - padding top-bottom
    max-height: calc(100vh - 2rem);
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: .4rem;
      background-color: white;
      border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb {
      width: .3rem;
      background-color: #5f5f5f;
      border-radius: 8px;
    }

    &.idle {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    button.new-room-btn {
      font-size: 1rem;
      padding: 1rem;

      display: flex;
      align-items: center;
    }

    .attendees-previews {
      display: grid;
      gap: 4px;
      grid-template-columns: repeat(auto-fit, minmax(320px, 4fr));

      .attendee-preview {
        padding: 0;

        app-video-container:hover {
          cursor: pointer;
        }
      }
    }

    /* Focused View Template */
    .focused-view-container {
      display: flex;
      flex-direction: column;
      align-self: center;
      justify-content: space-evenly;

      // height: 100vh;
      height: 100%;
      // max-height: 100vh;
      max-height: 100%;

      &.hidden { display: none; }

      video { max-height: 40vh; height: 40vh; }
      app-video-container { max-height: 40vh; height: 40vh; }
    }

    button.back-to-grid-btn {
      position: absolute;
      bottom: 0;
      left: 260px;
    }
  }
}
