<div class="container">

  <div class="room-id-panel" *ngIf="peerId">
    <span class="label">Room ID</span>

    <div class="row">
      <input type="text" nbInput [ngModel]="peerId" disabled>
      <nb-icon nbSuffix
               [icon]="copiedToClipBoard ? 'checkmark-square-2-outline' : 'clipboard-outline'"
               (click)="onCopyToClipBoard()"
               matTooltip="{{ copiedToClipBoard ? 'Room ID copied to clipboard' : 'Copy to clipboard' }}"
               matTooltipPosition="right"
      ></nb-icon>
    </div>
  </div>

  <div class="new-room-container">
    <button *ngIf="!peerId"
            nbButton
            status="info" (click)="onCreateRoom()">
      <nb-icon icon="people-outline"></nb-icon>
      New room
    </button>

    <div class="attendees-previews">
      <div class="attendee-preview" *ngFor="let connection of connections | keyvalue">
        <div class="preview" *ngFor="let connectionObj of connection.value.connections">
          <video autoplay [srcObject]="connectionObj.stream"></video>
          <span>{{ connection.value.peerData.name || connection.key }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
