<div class="container" [class.include-chat]="(sharedEvents.connected$ | async) && isChatVisible">
  <div class="room-container" [class.idle]="!(sharedEvents.connected$ | async)">
    <ng-container *ngIf="roomView === RoomView.grid; else focusedViewTemplate">
      <button *ngIf="!(sharedEvents.connected$ | async)"
              class="new-room-btn"
              nbButton
              status="info" (click)="onCreateRoom()">
        <nb-icon icon="people-outline"></nb-icon>
        New room
      </button>

      <div class="attendees-previews">
<!--        <ng-container *ngFor="let _ of [1,2,3,4,5]">-->
          <div class="attendee-preview" *ngFor="let entry of streams; let i = index">
            <app-video-container [stream]="entry.stream"
                                   [label]="entry.username"
                                   (videoClicked)="onFocusMode(entry.peerId)"
              ></app-video-container>
          </div>
<!--        </ng-container>-->
      </div>
    </ng-container>

    <ng-template #focusedViewTemplate>
      <div class="focused-view-container">
        <video id="user-stream-video" autoplay muted [srcObject]="userStream"></video>
        <video id="screen-stream-video" autoplay muted [srcObject]="screenStream"></video>
      </div>
    </ng-template>

    <div class="chat-container"
         [class.hidden-chat]="!isChatVisible"
         *ngIf="sharedEvents.connected$ | async"
    >
      <button class="hide-chat-btn"
              *ngIf="isChatVisible"
              (click)="isChatVisible = false"
              mat-mini-fab
              matTooltip="Hide chat"
              matTooltipPosition="left">
        <nb-icon icon="close-outline"></nb-icon>
      </button>

      <div class="room-id-panel">
        <span class="label">Room ID</span>

        <input type="text" nbInput [ngModel]="peerService.peerId" disabled>

        <button nbButton
                [disabled]="copiedToClipBoard"
                status="info" (click)="onCopyToClipBoard()" >
          <nb-icon [icon]="copiedToClipBoard ? 'checkmark-square-2-outline' : 'clipboard-outline'"></nb-icon>
          {{ copiedToClipBoard ? 'Copied to clipboard' : 'Copy to clipboard' }}
        </button>
      </div>

      <div class="chat">
        <ul class="messages-box" #messagesBox>
          <li class="message"
              *ngFor="let chatMessage of chatMessages"
              [class.system]="chatMessage.from.peerId === 'system'"
              [class.to]="chatMessage.from.peerId === peerService.peerId"
              [class.from]="chatMessage.from.peerId !== peerService.peerId"
          >
            <span class="message-header" *ngIf="chatMessage.from.peerId !== 'system'">
                <span class="name-tag">{{
                  chatMessage.from.peerId !== peerService.peerId ?
                    chatMessage.from.username :
                    'You'
                }}
                </span>
                <span class="message-type-tag">{{
                  chatMessage.type === MessageType.broadcast ?
                    'Broadcast' :
                    'Direct ' + (
                      chatMessage.to.peerId === peerService.peerId ?
                        '' :
                        '[' + chatMessage.to.username + ']'
                    )
                  }}</span>
            </span>
            <span class="message-body">{{ chatMessage.message }}</span>

            <span class="timestamp">{{ chatMessage.ts | date: 'HH:mm:ss' }}</span>
          </li>
        </ul>
        <div class="typing-box">
          <input type="text" nbInput
                 shape="semi-round"
                 [placeholder]="focusedRemotePeerId ? 'Send message to ' + focusedRemotePeerUsername + ' (direct)' : 'Send message to all (broadcast)'"
                 [(ngModel)]="chatMessage"
                 (keyup.enter)="onSendChatMessage()"
          >
          <button nbButton status="info" (click)="onSendChatMessage()">
            <nb-icon icon="paper-plane-outline"></nb-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fab-bar upper-right" *ngIf="sharedEvents.connected$ | async">
  <button class="open-chat-btn"
          [class.invisible]="isChatVisible"
          mat-fab
          matTooltip="Open chat" matTooltipPosition="left"
          (click)="isChatVisible = true; isNewChatActivity = false"
  >
    <span class="chat-dot" *ngIf="isNewChatActivity"></span>
    <nb-icon icon="message-square-outline"></nb-icon>
  </button>
</div>

<div class="fab-bar" *ngIf="sharedEvents.connected$ | async">
  <button class="leave-room-btn"
          mat-fab (click)="onLeaveRoom()"
          matTooltip="Leave room" matTooltipPosition="above"
  >
    <nb-icon icon="log-out-outline" class="rotated"></nb-icon>
  </button>

  <button class="back-to-grid-btn"
          *ngIf="focusedRemotePeerId"
          mat-fab (click)="onBackToGrid()"
          matTooltip="Back to Grid" matTooltipPosition="above"
  >
    <nb-icon icon="grid-outline"></nb-icon>
  </button>
</div>
