<div class="container" [class.include-chat]="sharedEvents.connected$ | async">
  <div class="room-container" [class.idle]="!(sharedEvents.connected$ | async)">
    <ng-container *ngIf="roomView === RoomView.grid; else focusedViewTemplate">
      <button *ngIf="!(sharedEvents.connected$ | async)"
              class="new-room-btn"
              nbButton
              status="info" (click)="onCreateRoom()">
        <nb-icon icon="people-outline"></nb-icon>
        New room
      </button>

      <div class="attendees-previews">
          <div class="attendee-preview" *ngFor="let entry of streams; let i = index">
            <app-video-container [stream]="entry.stream"
                                 [label]="entry.username"
                                 (click)="onFocusMode(entry.peerId)"
            ></app-video-container>
        </div>
      </div>
    </ng-container>

    <ng-template #focusedViewTemplate>
      <div class="focused-view-container">
<!--        <app-video-container-->
<!--          [stream]="userStream"-->
<!--          label="{{ focusedRemotePeerUsername }}"-->
<!--        ></app-video-container>-->

<!--        <app-video-container-->
<!--          [stream]="screenStream"-->
<!--          label="{{ focusedRemotePeerUsername }}'s screen"-->
<!--        ></app-video-container>-->
        <video autoplay muted [srcObject]="userStream"></video>
        <video autoplay muted [srcObject]="screenStream"></video>
      </div>
    </ng-template>

    <div class="chat-container" *ngIf="sharedEvents.connected$ | async">
      <div class="room-id-panel">
        <span class="label">Room ID</span>

        <input type="text" nbInput [ngModel]="peerService.peerId" disabled>

<!--                [outline]="copiedToClipBoard"-->
        <button nbButton
                [disabled]="copiedToClipBoard"
                status="info" (click)="onCopyToClipBoard()" >
          <nb-icon [icon]="copiedToClipBoard ? 'checkmark-square-2-outline' : 'clipboard-outline'"></nb-icon>
          {{ copiedToClipBoard ? 'Copied to clipboard' : 'Copy to clipboard' }}
        </button>
      </div>

      <div class="chat">
        <ul class="messages-box" #messagesBox>
          <li class="message"
              *ngFor="let chatMessage of chatMessages"
              [ngClass]="{ system: chatMessage.from.peerId === 'system', to: chatMessage.from.peerId === peerService.peerId, from: chatMessage.from.peerId !== peerService.peerId }"
          >
            <span class="message-header" *ngIf="chatMessage.from.peerId === 'system'; else notSystemMessage">
              <i>{{ chatMessage.message }}</i>
              <br/>
              ({{ chatMessage.ts | date: 'HH:mm:ss' }})
            </span>

            <ng-template #notSystemMessage>
              <span class="message-header">
                [ {{ chatMessage.ts | date: 'HH:mm:ss' }} ] <i>{{
                chatMessage.from.peerId !== peerService.peerId ?
                  chatMessage.from.username :
                  'You ' + (
                    chatMessage.type === MessageType.broadcast ?
                      '(Broadcast)' :
                      '(Direct to ' + chatMessage.to.username + ')'
                  )
                }}:</i>
              </span>
              <span>{{ chatMessage.message }}</span>
            </ng-template>
          </li>
        </ul>
        <div class="typing-box">
          <input type="text" nbInput
                 shape="semi-round"
                 [placeholder]="focusedRemotePeerId ? 'Send message to ' + focusedRemotePeerUsername + ' (direct)' : 'Send message to all (broadcast)'"
                 [(ngModel)]="chatMessage"
                 (keyup.enter)="onSendChatMessage()"
          >
          <button nbButton status="info"
                  (click)="onSendChatMessage()"
                  [disabled]="!(chatMessage?.length > 0)">
            <nb-icon icon="paper-plane-outline"></nb-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fab-bar" *ngIf="sharedEvents.connected$ | async">
  <button class="leave-room-btn"
          mat-fab (click)="onLeaveRoom()"
          matTooltip="Leave room" matTooltipPosition="above"
  >
    <nb-icon icon="log-out-outline" class="rotated"></nb-icon>
  </button>

  <button class="back-to-grid-btn"
          *ngIf="focusedRemotePeerId"
          mat-fab (click)="onBackToGrid()"
          matTooltip="Back to Grid" matTooltipPosition="above"
  >
    <nb-icon icon="grid-outline"></nb-icon>
  </button>
</div>
