nb-layout-column {
  padding: 0 !important;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  background-color: #222;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;

  main {
    padding: 0;
    flex-grow: 1;

    &.dark-theme {
      background-color: #333;
    }
  }
}
